{% extends "layout.html" %} 
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "css/challenge.css" %}">
<link rel="stylesheet" href="{% static "css/includes/header.css" %}">

{% endblock css %}

{% block page_title %} {{ mm|title }} Challenge
{%endblock %} 

{%block content%}
{% include "./shared/heder.html" %}
<!-- using interpolation -> {{ value }} -->
<!-- using filters {{ value|title}} -->
<h1>Challenges for {{ mm|title }}</h1>
{% comment %} using if tag {% endcomment %} {% if call is not None%}
<h2>{{ call }}</h2>
{% else %}
<p class="fallback">No challenge this month</p>
{%endif%} {% endblock content %}
