{% extends "layout.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/challenges.css" %}">
<link rel="stylesheet" href="{% static "css/includes/header.css" %}">

{% endblock css %}

{% block page_title %}
All Challenges
{% endblock page_title %} 

{%block content%}
{% include "./shared/heder.html" %}

<ul>
  <!-- using dtl tags -->
  {% for ms in months %}
  <!-- adding url tag for dynamic urls -->
  <li>
    {% comment %} using the url tag {% endcomment %}
    <a href="{% url 'month-challenge' ms %}">{{ ms | title }}</a>
  </li>
  {%endfor%}
</ul>
{% endblock %}
