{% load static %}

<li>
    <article class="post">
        <a href="{% url "details-page" "the-mountains" %}">
            <img src="{% static "blog/images/mountains.png" %}" alt="Mountain Hiking"/>
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>Theres nothing like the views you get when 
                    hiking in the mountain! 
                    And I wasnt even prepared for what happened while 
                    I was enjoying the view!</p>
            </div>
        </a>
    </article>
</li>